:root {
    --bg: 0 0% 100%;
    --fg: 222 22% 12%;
    --muted: 220 14% 96%;
    --border: 220 13% 91%;

    --brand: 49 100% 50%;
    --brand-strong: 45 100% 50%;

    --success: 142 72% 29%;
    --warning: 38 92% 50%;
    --danger: 0 72% 51%;
    --info: 199 89% 48%;

    --card: 0 0% 100%;
    --card-fg: 222 22% 12%;
    --ring: 220 90% 56%;
}

.dark {
    --bg: 222 22% 10%;
    --fg: 0 0% 98%;
    --muted: 222 18% 16%;
    --border: 222 14% 22%;

    --brand: 49 100% 52%;
    --brand-strong: 45 100% 52%;

    --success: 142 70% 38%;
    --warning: 38 90% 58%;
    --danger: 0 72% 60%;
    --info: 199 89% 60%;

    --card: 222 22% 12%;
    --card-fg: 0 0% 98%;
    --ring: 220 90% 62%;
}
